div {
	/*display: inline-block;*/
	margin: auto;
}

.satu {
	width: 200px;
	height: 200px;
	background-color: salmon;
	/*penulisan margin manual*/
	/*margin-left: 100px;
	margin-bottom: 65px;
	margin-top: 55px;
	margin-right: 20px;*/

	/*margin value auto*/
	/*margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;*/

	/*shorthand*/
	/*margin : 40px;*/
	/*margin : 40px 100px;*/
	/*margin: 40px auto 100px;*/
	/*margin: 100px 150px 200px 250px;*/
}

.dua {
	width: 100px;
	height: 100px;
	background-color: lightskyblue;
	/*overlapping margin vertikal*/
	/*margin-top: 120px;*/

	/*negative margin vertikal : elemen tidak memandang value(berbeda dengan positif), jika memang nilainya negatif maka kotak digerakkan berlawanan arah*/
	/*margin-top: -20px;*/
}

.tiga {
	width: 50px;
	height: 50px;
	background-color: lightseagreen;
}